.orange{
   width:600px;
   height:200px;
   background-color:orange;
   
}
.white{
   width:600px;
   height:200px;
   background-color:white;
}
.white > div{
   width:200px;
   height:200px;
   background-color:blue;
   border-radius:50%;
   position:relative;
   left:200px;
}
.white div div p{ 
   color:white;
   font-size:3rem;
   margin: 0;
   padding:0;
   text-align:center;
   position:relative;
   top:50px;
}
.green{
   width:600px;
   height:200px;
   background-color:green;
}



